html, body {
  margin: 0px;
  padding: 0px; 
}

body{
  min-width: 768px;
  
  /*font-weight: 700; */
  font-size: 14px;
  line-height: 21px;
  font-family: "PTSans", "Arail", sans-serif;
  
  text-transform: uppercase;
  
  color: #333333;
  background-color: #ffffff;
}

h3 {
  font-size: 21px;
  line-height: 21px;
}

p{
  font-size: 14px;
  line-height: 21px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
  
.container {
  width: 768px;
  margin: 0 auto;
  background-color: #ffffff;
  
}
 
.main-header {
  color: #000000;  
  
}

.main-navigation {
  position: relative;
  width: 768px;
    
}

.logo-image {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -68px;
}

.main-navigation a {
  display:block;
  color: #000000;
  text-decoration: none;
  
}

.main-navigation a:hover {
  background: #e8f5fe;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 6%;
  margin-right: 6%;
  
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  width: 20%;  
  font-size: 14px;
  line-height: 26px; 
  font-weight: 700; 
  
  padding-top: 15px;
  padding-bottom: 15px;

}

.main-navigation li:nth-child(2){
  margin-right: 20%; 
}

.greeting{
  width: 768px;
  /*margin-left: auto;
  margin-right: auto; */ 
  min-height: 512px;
  background: #e4f2fb url("img/background.jpg") no-repeat center top; 
  padding-top: 1px;
}

.greeting-img{
  width: 458px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 76px;
  margin-bottom: 85px;
}

.greeting-tagline{
  width: 676px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 58px;;
  margin-bottom: 58px;
}

.greeting-tagline h2{
  font-size: 21px;
  line-height: 26px;
}

.greeting-tagline p {
  font-size: 14px;
  line-height: 26px;
}
.features{
  width: 100%;
}
 
.features-city {
  float: left;
  width: 33%;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
  /*min-height: 256px;*/
}

.features-city-container{
  text-align: center;
  width: 198px;
  min-height: 166px;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.features-city-image {
  float: left;
  width: 67%;
  min-height: 256px;
} 

  
.features-icon {
  float: left;
  width: 256px;
  margin-left: 0px;
  text-align: center;
 
}  

.features-icon-container {
  width: 168px;
  min-height: 117px;
  text-align: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.features-icon-image {
  margin-top: 60px;
  margin-bottom: 33px;
}



.features-bridge-image{
  float:left;
  width: 67%; 
  min-height: 256px;   
}

.features-bridge{
  float: left;
  width: 33%;
  min-height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
}

.features-bridge-container{
  text-align: center;
  width: 162px;
  min-height: 163px;
  margin-top: 50px;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
  
}


.features-text {
  float: left;
  background-color: #eeeeee;
  width: 256px;
}

.features-text-container {
  text-align: center;
  width: 156px;
  min-height: 163px;
  margin-top: 50px;
  margin-bottom: 44px;
  margin-left: auto;
  margin-right: auto;
}

.search {
  width: 568px;
  min-height: 147px;
  margin-top: 59px;
  background-color: #ffffff;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
}

.search h2 {
  text-align: center;
  font-size: 30px;
  line-height: 24px;
  
  padding-bottom: 32px;
    
}

.search p {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 50px;
}

.hotel {
  position:relative;
  background-color: #766357;
  width: 568px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.form-search {
  position:absolute;
  width: 568px;
  min-height:  396px;

  background-color: #ffffff;
  
}
.img-map  {
  width: 768px;
  min-height: 473px;
  
}



.

.main-footer {
  width: 768px;
  min-height: 120px;
}

.footer-inst {
  float: left;
  width: 256px;
}

.footer-inst a {
  display: block;
  margin-right: auto; 
  margin-left: auto;
  
}

.footer-social {
  float: left;
  width: 256px;
  margin-right: auto;
  margin-left: auto;
  min-height: 120px;
}

.footer-copyright {
  float: right;
  width: 256px;
  margin-right: auto;
  margin-left: auto;
  min-height: 120px;
}

.filter {
  background-color: chartreuse;
  width: 768px;  
  min-height: 70px; 
  } 

.filter-infrastructure {
  background-color: beige;
  float:left;
  width: 241px;
  min-height: 60px;
  margin-left: 73px;
}

.filter-rent {
  background-color:beige;
  float: left;
  width: 288px;
  min-height: 60px;
  /*margin-left: 0px; */
}

.filtet-cost {
  background-color: beige;
  float: right;;
  width: 328px;
  min-height: 60px;
  margin-left: 200px; 
}

.hotel-selected {
  width: 768px;
  min-height: 150px;
  border-top: 1px solid #e5e5e5;
}

.hotel-selected:last-child {
  width: 768px;
  min-height: 150px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-selected-container {
  width: 960px;
  margin: 0 auto;
  min-height: 60px;
}


.hotel-selected-img {
  background-color: burlywood;
  float: left;
  width: 135px;
  margin-left: 73px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hotel-selected-info {
  background-color: azure;
  float: left;
  width: 394px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hotel-selected-rating {
  background-color: darkkhaki;
  float: right;
  min-height: 90px;
  margin-top: 30px;
  margin-bottom: 30px;  
  margin-right: 73px;
}