html, body {
  margin: 0;
  padding: 0; 
  background: #f2f2f2;
}

body{
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arail", sans-serif;
  color: #333333;
  background-color: #ffffff;
  
  text-transform: uppercase;
  
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;  
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.main-header {
  position: relative; 
  color: #000000; 
}

.logo-image {
  position: absolute;
  left: 600px;
  top: 0;
  margin-left: -68px; 
}

.main-navigation {
  position: relative;
  width: 1200px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 72px;
  margin-right: 72px;
  font-size: 0;
  padding-top: 16px;
  padding-bottom: 19px;
}

.main-navigation li {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  width: 211px;
}

.main-navigation a {
  font-size: 14px;
  line-height: 26px; 
  font-weight: 700; 
  color: #000000; 
  text-decoration: none;
}

.main-navigation li:nth-child(2){
  margin-right: 211px; 
}

.main-navigation li:nth-child(3){
  box-sizing: border-box;
  padding-left: 125px;
}

.main-navigation li:nth-child(4){
  box-sizing: border-box;
  padding-left: 134px;
}

.greeting{
  background: #e4f2fb url("../img/background.jpg") no-repeat; 
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 61px;
  position: relative;
  z-index: 1;
}

  .greeting::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;  
    content: "";
    
    width: 1200px;
    height: 57px;
    background:  url("../img/indention.png") no-repeat; 
    z-index: 2; 
}

.greeting-img{
  width: 458px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 76px;
  margin-bottom: 81px;
}

.greeting-tagline{
  text-align: center;
  padding-bottom: 54px;
    
}

.greeting-tagline h2{
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  padding-left: 313px;
  padding-right: 313px;
}

.greeting-tagline p {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.features{
  width: 1200px;
  background-color: #81b3d2;
  color: #ffffff;
  
}

.features-content {
  float: left;
  width: 400px;
  text-align: center;
}

.features-content h3{
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  padding-top: 54px; 
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 24px; 
}

.features-content span{
  font-size: 14px;
  line-height: 21px;
 }

.features-content p{
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  padding-top: 21px;  
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px; 
}

.features-image {
  float: left;
  width: 800px;
  min-height: 256px;
} 

.features-image img {
  display: block;
}
 
.attribute {
  width: 1200px;
  background-color: #ffffff;
  
}

.attribute-icon {
  float: left;
  width: 400px;
  text-align: center;
}

.attribute-icon-image { 
  margin-top: 60px;
  margin-bottom: 33px;
}

.attribute-icon h3{
  margin: 0;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  padding-bottom: 28px; 
}

.attribute-icon p{
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  padding-left: 58px;
  padding-right: 56px;
  padding-bottom: 88px; 
}

.advantage {
  width: 1200px;
  background-color: #eeeeee;
  color: #333333;
}

.advantage-text {
  float: left;
  width: 400px;
  text-align: center;
}

.advantage-text h3{
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  padding-top: 50px; 
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 28px; 
}

.advantage-text span{
  font-size: 14px;
  line-height: 21px;
 }

.advantage-text p{
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  padding-top: 25px;  
  padding-bottom: 65px;
  padding-left: 70px;
  padding-right: 70px; 
}

.search {
  position: relative;
  text-align: center
}

.search h2 {
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  padding-top: 57px;
  padding-bottom: 34px;
}

.search p {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  padding-left: 380px;
  padding-right: 380px;
  padding-bottom: 50px;
}

.btn {
  box-sizing: border-box;
  width: 568px;
  display: inline-block;
  vertical-align: top;
  padding: 35px 139px;
  
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  
  background-color: #766357;
  
  border: none;
  cursor: pointer;
}

.search-form {
  position: absolute;  
  width: 568px;
  left: 316px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.search-form input{
  background-color: #f2f2f2;
  border: none;
}

.search-form-arrival input{
  box-sizing: border-box;
  width: 346px;
  padding-left: 15px;
  padding-right: 42px;
  padding-top: 8px;
  padding-bottom: 8px; 
  
  margin-top: 55px;
  margin-bottom: 30px;
  margin-right: 54px;
    
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: uppercase;
      
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position:  100% 0px; 
}  

.search-form-arrival input:hover {
  background-color: #ebebeb;
  
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position:  100% -76px;
}

.search-form-arrival label{  
  margin-left: 54px;
  margin-right: 25px;
 }

.search-form-departure input{
  box-sizing: border-box;
  width: 346px;
  padding-left: 15px;
  padding-right: 42px;
  padding-top: 8px;
  padding-bottom: 8px; 
  
  margin-bottom: 30px;
  margin-right: 54px;
  
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: uppercase;
  
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position:  100% 0px;
}

.search-form-departure input:hover {
  background-color: #ebebeb;
  
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position:  100% -76px;

}

.search-form-departure label {
  margin-right: 20px;
  margin-left: 54px;
}

.search-form-adult {
  display: inline-block;
  vertical-align: top; 
    position: relative; 

  
}

.search-form-children {
  display: inline-block;
  vertical-align: top;  
  
}

.search-form-adult input {
  box-sizing: border-box;
  width: 115px;
  padding: 6px 36px;
  margin-right: 54px;
    
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -292px;
}
      


.search-form-adult input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-form-adult label {
  margin-left: 54px;
  margin-right: 40px;
}
  
.search-form-children input {
  box-sizing: border-box;
  width: 115px;
  padding: 6px 36px;
  margin-bottom: 54px;
  margin-right: 54px; 
  position:relative;
  
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  
  }

.search-form-children::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 3px;
  background-position: -8px -309px;
} 


.search-form-children label {
  margin-right: 23px;
}

.btn-search{
  background-color: #81b3d2;
  width: 458px;
  
  padding-top:12px;
  padding-bottom: 12px;
  
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 55px;
}

.btn-search:hover {
  background-color: #669ec0;
}

.footer-layer {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.footer-inst {
  float: left;
  width: 400px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-top: 48px;
  margin-bottom: 51px;
}

.footer-social {
  float: left;
  width: 400px;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 36px;
 
}

.footer-copyright{
  float: left;
  width: 400px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 26px;
  margin-top: 40px;
}

.footer-layer a{
  color: #000000; 
  text-decoration: none;
}

.footer-copyright a{
  display: inline-block;
  vertical-align: middle;
}

 .map {
  position: relative;
} 


.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  font-size: 0;
  margin: 0 6px;
   
  background-color: #81b3d2;  
  position: relative;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
} 

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn-tw::before {
  width: 17px;
  height: 15px;
  background-position: -8px -447px;
}

.social-btn-fb::before {
  width: 10px;
  height: 19px;
  background-position: -8px -198px;
}

.social-btn-yt::before {
  width: 20px;
  height: 16px;
  background-position: -8px -447px;
}

/*------------------------------------------------------*/

.filter {
  background: #e4f2fb url("../img/filter.jpg") no-repeat;
  color: #ffffff;
  text-transform: uppercase;
}

.filter h3{
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  
  padding-top: 33px;
  padding-bottom: 29px;
}

.filter ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 32px;
}

.filter li {
  padding-bottom: 29px;
}

.filter li:last-child {
  padding-bottom: 0;
}

.filter-infrastructure {
  float: left;
  width: 241px;
  margin-left: 72px; 
}
/*------------замена инидкатора у списка инфраструктура------ */

.pool-checkbox input[type="checkbox"] {
  display: none;
}

.pool-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.pool-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  content: "";
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -8px -122px;
} 

.pool-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after 
{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -8px -233px;
}   


.parking-checkbox input[type="checkbox"] {
  display: none;
}

.parking-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.parking-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  content: "";
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -8px -122px;
} 

.parking-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after 
{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -8px -233px;
}   


.wifi-checkbox input[type="checkbox"] {
  display: none;
}
.wifi-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.wifi-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  content: "";
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -8px -122px;
} 

.wifi-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after 
{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -8px -233px;
}   

/*------------замена инидкатора у списка тип жилья ------ */

.hotel-checkbox input[type="checkbox"] {
  display: none;
}

.hotel-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.hotel-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  content: "";
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -8px -122px;
} 

.hotel-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after 
{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -8px -233px;
}   

.motel-checkbox input[type="checkbox"] {
  display: none;
}

.motel-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.motel-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  content: "";
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -8px -122px;
} 

.motel-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after 
{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -8px -233px;
}   

.apartments-checkbox input[type="checkbox"] {
  display: none;
}

.apartments-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.apartments-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  content: "";
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -8px -122px;
} 

.apartments-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after 
{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -8px -233px;
}   


/*------------------------------------------------------- */
.filter-rent{
  float: left;
  width: 288px;
}

.filter-cost {
  float: right;
  width: 328px;
  margin-right: 72px;
  
  font-family: "PT Sans", "Arail", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  
}

.filter-cost-title {
  margin-top: 29px;
  margin-bottom: 9px;
  
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  
}

.option-price {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;
  
  border: 2px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  
  font-size:0;
}  

.option-price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  
  width: 2px;
  height: 22px;
  background: #ffffff;
}

.option-price label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 38px;
  cursor: pointer;
}

.filter-cost .min-price,
.filter-cost .max-price {
  
  width: 90px;
  padding-left: 65px;
  
}
.option-price input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  
  background: none;
  border: none;
  outline: none;
}
  
.scroll-price {
  position:relative; 
  margin-bottom:  32px;
}

.scroll-price .scale {
  height: 2px;
  background:  rgba(255, 255, 255, 0.3); 
}

.scroll-price .bar {
  width: 252px;
  height: 2px;
  background: #ffffff;
}

.toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background-color: #ababab; 
  
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.toggle-min {
  left: 0;
}

.toggle-max {
  left: 242px;
}

.toggle:hover {
  background: #1c4f80;
}
 
.scroll-price input {
  width: 318px;
  color: #ffffff;
  margin-bottom: 22px;
} 

.btn-show {
  width: 133px;
  padding: 4px 35px;
   
  font-size: 14px;
  line-height: 21px;
   
  margin: 0 96px;
   
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
} 

.btn-show:hover {
  color: #000000;
  background-color: #ffffff;
}


.sorting {
  box-sizing: border-box;
  width: 1200px;
  padding-left: 72px;
  padding-right: 72px;
}
.sorting h3 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  padding-top: 33px;
  padding-bottom: 33px;
  margin-right: 30px;
}

.sorting h4{
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 18px;
  padding-top: 33px;
  padding-bottom: 33px;
}

.sorting-result {
   display: inline-block;
  
}

.sorting-result ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.sorting-result li{
  display: inline;
}
.sorting-result-direction {
  
}

/* ------------------------------------------ */
.hotel-selected {
  box-sizing: border-box;
  width: 1200px;
  padding-left: 72px;
  padding-right: 72px;
  border-top: 1px solid #e5e5e5;
}

.hotel-selected:last-child {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-selected-img {
  float: left;
  width: 135px;
  min-height: 90px;
  margin-top: 30px;
  margin-bottom: 31px;
}

.hotel-selected-info {
  float: left;
  width: 364px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 288px;
}

.hotel-selected-info h3 {
  margin:0;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-selected-info p {
  margin:0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.btn-more {
  width: 110px;
  padding-left: 17px;
  padding-right: 19px;
  padding-top: 5px;
  padding-bottom: 6px;
  margin-right: 6px;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  
  color: #ffffff;
  background-color: #81b3d2;
}

.btn-more:hover {
  background-color: #669ec0;
}

.btn-reservation {
  width: 142px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 5px;
  padding-bottom: 6px;
  margin-right: 6px;
   
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  
  color: #ffffff;
  background-color: #766357;
}

.btn-reservation:hover {
  background-color: #604e43;
} 

.raiting-star {
  float: right;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 21px;
}

/*----------- sprite -----------------------------------*/

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -8px -8px;
}

.sprite-calendard {
    width: 21px;
    height: 22px;
    background-position: -8px -46px;
}

.sprite-calendarh {
    width: 21px;
    height: 22px;
    background-position: -8px -84px;
}

.sprite-checkbox {
    width: 22px;
    height: 22px;
    background-position: -8px -122px;
}

.sprite-checkboxd {
    width: 22px;
    height: 22px;
    background-position: -8px -160px;
}

.sprite-fb {
    width: 10px;
    height: 19px;
    background-position: -8px -198px;
}

.sprite-marker {
    width: 26px;
    height: 22px;
    background-position: -8px -233px;
}

.sprite-markerd {
    width: 26px;
    height: 22px;
    background-position: -8px -271px;
}

.sprite-minus {
    width: 12px;
    height: 3px;
    background-position: -8px -309px;
}

.sprite-minusd {
    width: 12px;
    height: 3px;
    background-position: -8px -328px;
}

.sprite-minush {
    width: 12px;
    height: 3px;
    background-position: -8px -347px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -8px -366px;
}

.sprite-plusd {
    width: 11px;
    height: 11px;
    background-position: -8px -393px;
}

.sprite-plush {
    width: 11px;
    height: 11px;
    background-position: -8px -420px;
}

.sprite-tw {
    width: 17px;
    height: 15px;
    background-position: -8px -447px;
}

.sprite-triangledown {
    width: 11px;
    height: 10px;
    background-position: -8px -478px;
}

.sprite-triangledownd {
    width: 11px;
    height: 10px;
    background-position: -8px -504px;
}

.sprite-triangledownh {
    width: 11px;
    height: 10px;
    background-position: -8px -530px;
}

.sprite-triangleup {
    width: 11px;
    height: 10px;
    background-position: -8px -556px;
}

.sprite-triangleupd {
    width: 11px;
    height: 10px;
    background-position: -8px -582px;
}

.sprite-triangleuph {
    width: 11px;
    height: 10px;
    background-position: -8px -608px;
}

.sprite-yt {
    width: 20px;
    height: 16px;
    background-position: -8px -634px;
}